#root, h1 {
    display: flex;
    justify-content: center;
}

.unexplored, .flagged {
    border-style: outset;
    float: left;
    width: 50px;
    height: 50px;
}

.explored, .bombed {
    border-style: inset;
    float: left;
    width: 50px;
    height: 50px;
}

.game-over {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
}

.lost-text, .won-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    background-color: gray;
    width: 200px;
    height: 200px;

}
